#btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-rock,
.btn-paper,
.btn-scissor{
  border-style: solid;
  width: 100px;
  height: 100px;
  text-align: center;
}