#btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn-rock,
.btn-paper,
.btn-scissor{
  border-style: solid;
  width: 200px;
  height: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-rock img,
.btn-paper img,
.btn-scissor img{
  max-height: 150px;
  
}